<div class="container-fluid" id="banner">
    <div class="row">
        <div class="col-md-6">
            <p class="promo-title">PASSIONE & FANTASIA</p>
            <P class="description">Creare, Modellare, Stampare, Cucinare e tutto ciò che la fantasia che ti permete di
                fare fa fare... Non amare ciò che è perfetto. Ma rendi perfetto ciò che ami </P>

            <div class="socialnetwork">
                <a href="https://www.facebook.com/pg/passiondesign.italia/posts/?ref=page_internal" target=”_blank”><img
                        src="assets/imgmain/facebook.png" class="facebook-btn"></a>
                <a href="https://www.youtube.com/channel/UCN-D13_ow8rzXIUW1p_gETg" target="_blank"><img
                        src="assets/imgmain/youtube.png" class="youtube-btn"></a>
                <a href="https://www.instagram.com/passiondesign.it" target="_blank"> <img
                        src="assets/imgmain/istagram.png" class="istagram-btn"></a>
            </div>
        </div>


        <div class="col-md-6">
            <img class="img-fluid" src="assets/imgmain/creative.png">

        </div>

    </div>

    <div class="bottom-img">
        <img src="assets/imgmain/wave1.png">
    </div>




</div>
<!----------------------------------services----------------------------------------------------->
<div class="container text-center" id="slide">
    <h1 class="title">BENVENUTI </h1>
    <!-----------------------------------slider-------------------------------------->



    <div class="slide" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/imgmain/slide1.jpg" class="img-responsive">
            </div>
            <div class="carousel-item">
                <img src="assets/imgmain/slide2.jpg" class="img-responsive">
            </div>
            <div class="carousel-item">
                <img src="assets/imgmain/slide3.jpg" class="img-responsive">
            </div>
            <div class="carousel-item">
                <img src="assets/imgmain/slide4.jpg" class="img-responsive">
            </div>
            <div class="carousel-item">
                <img src="assets/imgmain/slide5.jpeg" class="img-responsive">
            </div>
            <div class="carousel-item">
                <img src="assets/imgmain/slide6.jpg" class="img-responsive">
            </div>
            <div class="carousel-item">
                <img src="assets/imgmain/slide7.jpg" class="img-responsive">
            </div>
            <div class="carousel-item">
                <img src="assets/imgmain/slide8.jpg" class="img-responsive">
            </div>





        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>


</div>

<!---------------------------------categories------------------------------->


<div class="container text-center" id="categories">
    <h1 class="title">CATEGORIA</h1>
    <div class="row text-center">
        <div class="col-md-3 categorie">
            <img src="assets/imgmain/torta.png" class="service-img1">
            <div class="description1">
                <h4>Dolci & Dessert</h4>
                <p>Dolci e Dessert Scopri consigli, ingredienti, tempi e modalità di preparazione delle nostre
                    gustosissime ricette pasticceria.</p>
            </div>

            <a href="catdolci.html">
                <button type="button" class="btn btn-primary">SCOPRI LE RICETTE&nbsp;&nbsp;<i
                        class="fa fa-share"></i></button>
            </a>


        </div>
        <div class="col-md-3 categorie">
            <img src="assets/imgmain/hamburger.png" class="service-img2">
            <div class="description2">
                <h4>Buffet Salato</h4>
                <p>idee gustose e facili tante preparazioni alla portata di tutte noi da realizzare nelle nostre cucine
                    per i nostri cari.</p>
            </div>
            <a href="catsalato.html">
                <button type="button" class="btn btn-primary">SCOPRI LE RICETTE&nbsp;&nbsp;<i
                        class="fa fa-share"></i></button>
            </a>
        </div>
        <div class="col-md-3 categorie">
            <img src="assets/imgmain/nail art.png" class="service-img3">
            <div class="description3">
                <h4>Nail Art </h4>
                <p>Colorate, eleganti o fluorescenti. In questo articolo vi presento le idee nail art più belle da cui
                    prendere spunto per ogni occasione.</p>
            </div>
            <button type="button" class="btn btn-primary">SCOPRI DI PIU'&nbsp;&nbsp;<i class="fa fa-share"></i></button>
        </div>
        <div class="col-md-3 categorie">
            <img src="assets/imgmain/uncinetto.png" class="service-img4">
            <div class="description4">
                <h4>Idee All'Uncinetto</h4>
                <p>Ma come passare il tempo? Se amate l’uncinetto ecco dei alcuni progetti a crochet da fare per tenere
                    la mente e le mani occupate.</p>
            </div>
            <button type="button" class="btn btn-primary">SCOPRI DI PIU'&nbsp;&nbsp;<i class="fa fa-share"></i></button>
        </div>
    </div>
</div>