.container-fluid {
    width: 100%;
} 

#banner {
    /* border: 1px solid black; */
    background-image: linear-gradient(to right, #ffb3c3, #f366ac);
    color: rgb(0, 0, 0) 4;
    padding-top: 2%;
    width: 100%;
}


#banner a {
    color: #2474eb;
    text-decoration: none;
}

.promo-title {
    /* border: 1px solid black; */
    color: #d60357;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: 10px;
    padding-left: 20px;
}
.description {
    text-align: justify;
    width: 90%;
    padding-left: 20px;padding-left: 20px;
}

.socialnetwork {
    /* border: 1px solid black; */
    margin-right: 200px;
    margin-top: 70px;
    margin-bottom: 1px;
    text-align: left;
    padding-left: 20px;
}

/* test */

.facebook-btn {
    /* border: 1px solid black; */
    width: 15%;
    cursor: pointer;
}

.youtube-btn {
    /* border: 1px solid black; */
    width: 15%;
    margin-left: 20px;
    cursor: pointer;
}

.istagram-btn {
    /* border: 1px solid black; */
    width: 15%;
    margin-left: 20px;
    cursor: pointer;
}


.img-fluid {
    /* border: 1px solid black; */
    margin-top: -30px;
    padding-top: 30px;
    padding-left: 50px;
}


/* -----wave------- */
.bottom-img img{
    width: 100vw; 
    margin: 0 -10px 0 -15px;
    
}


/*--------------------------------title-------------------------*/

.title::before {
    content: "";
    background: #f07676;
    height: 5px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}

.title::after {
    content: "";
    background: #d60357;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}

/*---------------------------------SLIDE-----------------------------------------------*/

#slide .slide {
    /* border: 1px solid black; */
    margin-top: 0px;
    margin-bottom: 30px;
    padding-bottom: 20px;
}


#slide .title h1 {
    padding: 10px 0;
    font-family: "Rockwell Extra Bold";
    font-size: 49px;
    font-weight: 700;
    font-weight: bolder;
}



.carousel-inner img {
    width: 100%;
    height: 25%;
}


/*-------------------------/teyyyyyst/--------/SLIDE-------------------------------*/

#categories{
max-width : 93%;
}


.service-img1 {
    /* border: 1px solid black; */
    width: 200px;
    margin-top: 20px;
    padding-top: -10px;
}

.service-img2 {
    /* border: 1px solid black; */
    width: 225px;
    margin-top: 20px;
}

.service-img3 {
    /* border: 1px solid black; */
    width: 220px;
    margin-top: 10px;
}

.service-img4 {
    /* border: 1px solid black; */
    width: 190px;
    margin-top: 20px;
}

.categorie {
    /* border: 1px solid black; */
    padding: 15px;
}


.description1 {
    /* border: 1px solid black; */
    margin-top: 10px;
}

.description2 {
    /* border: 1px solid black; */
    margin-top: 10px;
}

.description3 {
    /* border: 1px solid black; */
    margin-top: 15px;
}

.description4 {
    /* border: 1px solid black; */
    margin-top: 10px;
}

.description1 h4 {
    color: #ec0638;
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}

.description2 h4 {
    color: #ec0638;
    padding: 5px;
    margin-top: 28px;
    text-transform: uppercase;
}

.description3 h4 {
    color: #ec0638;
    padding: 5px;
    margin-top: 35px;
    text-transform: uppercase;
}

.description4 h4 {
    color: #ec0638;
    padding: 5px;
    margin-top: 32px;
    text-transform: uppercase;
}

#categories button {
    box-shadow: none;
    border-radius: 50px;
    background-image: linear-gradient(to right, #4b48f6, #9f3ed8, #a40afd);
}



/*---------------------------------/categories-------------------------------*/

